@import '~bootstrap/scss/bootstrap';

$base: rgb(236, 237, 241);
$text: #121212;

html {
  scroll-behavior: smooth;
}

body {
  color: $text;
  text-align: center;
}

header {
  background: url('./public/desk.jpg') no-repeat center center scroll;
  background-color: $base;
  background-size: cover;
  border: 1px solid $base;
  font-family: 'Nunito', sans-serif;
  height: 100vh;

  h1 {
    color: $text;
    font-size: 4em;
    font-weight: bold;
    margin-top: 40vh;
  }
  nav {
    margin-top: 10vh;

    a {
      color: $text;
      font-size: 1.25em;
      text-shadow: -1.5px 1.5px rgba(145, 143, 141, 0.75);
    }
    i {
      font-size: 2em;
    }
  }
}

main {
  background-color: $base;
  text-align: center;
  width: 100vw;

  form {
    overflow: scroll;
    padding: 0;
    text-align: center;
    width: 35vw;
  }

  #display {
    width: 60vw;
  }

  .sections {
    display: inline-block;
    height: 100vh;
    margin: 5vh auto;
    min-height: 100vh;
  }
}
@media only screen and (max-width: 700px) {
  main {
    .sections {
      width: 90vw;
    }
  }
}
