@import '~bootstrap/scss/bootstrap';

$base: rgb(236, 237, 241);
$text: #121212;

html {
  scroll-behavior: smooth;
}

body {
  color: $text;
  text-align: center;
}

header {
  background: url('./public/desk.jpg') no-repeat center center scroll;
  background-color: $base;
  background-size: cover;
  border: 1px solid $base;
  font-family: 'Nunito', sans-serif;
  height: 100vh;

  h1 {
    color: $text;
    font-size: 4em;
    font-weight: bold;
    margin-top: 40vh;
  }
  nav {
    margin-top: 10vh;

    a {
      color: $text;
      font-size: 1.25em;
      text-shadow: -1.5px 1.5px rgba(145, 143, 141, 0.75);
    }
    i {
      font-size: 2em;
    }
  }
}

main {
  background-color: $base;
  // text-align: center;
  width: 100vw;

  form {
    border-right: 3px dotted #121212;
    box-shadow: inset 5px 5px 15px 1px rgba(145, 143, 141, 0.75);
    display: inline-block;
    height: 90vh;
    margin-top: 5vh;
    overflow: scroll;
    padding: 0;
    text-align: center;
    width: 75vw;

    legend {
      font-weight: bold;
    }
  }

  #display {
    display: none;
  }
}

.footer {
  background-color: $base;
  bottom: 0;
  color: $text;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  main {
    .sections {
      width: 90vw;
    }
  }
}
